[user]
    name = "Davids048"
    email = "jundasu@ucsd.edu"

[init]
    defaultBranch = main

[core]
    editor = vim

[alias]
    stat = status
    st = status
    lg = log --oneline --graph --decorate --all


[diff]
    algorithm = histogram
    compactionHeuristic = true
    # showfunc-line = "^[[:alpha:]$_].*[^:]\s*$"

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[credential]
	helper = store
